<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/todo">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>
    <ion-item *ngFor="let todo of (todos | async)" [routerLink]="['/todo', todo.id]">
      {{ todo.name }}
    </ion-item>
  </ion-list>
</ion-content>
